<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Node.js Demo App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/foundation.min.css"/>

</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Node.js Demo App</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/view">View</a></li>
    </ul>
  </section>
</nav>

<div class="large-12 content">

    <h1 class="mt20">Node.js Demo App</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus metus id accumsan vulputate. Nulla facilisis posuere libero, et laoreet nibh viverra et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras a elit ac leo accumsan tristique. Vivamus pulvinar risus mauris. Ut eu elit porttitor, egestas massa a, consectetur mauris. Cras accumsan id justo a dapibus. Integer finibus dapibus leo eu accumsan. Nullam risus erat, molestie a mattis in, commodo vitae quam. Ut tempor diam est, sit amet luctus massa rhoncus nec. Nulla tempor vel magna quis ullamcorper. Maecenas urna purus, efficitur vel enim sed, vestibulum consequat libero. In non vehicula felis.<p>

  </div>

</div>

<footer>
  <div class="large-12 content m0auto">
    <hr />
  </div>
</footer>

<script src="/js/jquery-1.11.2.min.js"></script>

</body>
</html>