<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Node.js Demo App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/foundation.min.css"/>

</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Node.js Demo App</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/view">View</a></li>
    </ul>
  </section>
</nav>

<div class="large-12 content">

    <h1 class="mt20">Node.js Demo App</h1>

    <p>Sub Page.</p>

  </div>

</div>

<footer>
  <div class="large-12 content m0auto">
    <hr />
  </div>
</footer>

<script src="/js/jquery-1.11.2.min.js"></script>

</body>
</html>